version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.5-browsers
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install
      - run: npm run build

      - persist_to_workspace:
          root: ~/repo
          paths:
            - dist

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  deploy:
    machine:
      enabled: true
    working_directory: ~/repo
    steps:
      - add_ssh_keys:
          fingerprints:
            - "13:bf:9b:94:92:e9:7b:e3:72:cc:ab:0d:4d:75:e8:1a"
      - run:
          name: Install rsync
          command: sudo apt install rsync -y
      - attach_workspace:
          at: /tmp
      - run:
          name: Deploy bot to server
          command: |
            rsync -avHr /tmp/dist/ -e ssh circleci@104.196.160.41:/apps/WeebBot-v2/dist
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master