<nav class="h-full">
    <ul class="flex flex-row items-center space-x-6 h-full">
        <li><a href="/">Home</a></li>
        <li><a href="/user/settings">Settings</a></li>
        <li>Help</li>
    </ul>
</nav>
