<ul class="ml-auto">
<%= if @current_user do %>
  <li><%= @current_user.email %></li>
  <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <%= link to: Routes.user_oauth_path(@conn, :request, "discord") do %>
      <div class="flex justify-center">
      <img
          class="w-64"
          src="https://lmsassets.consolegamingleague.com/static/mvp/assets/media/signinwithdiscord.png"
      />
      </div>
  <% end %>
<% end %>
</ul>
